# Server state - Could contain sensitive details
logs/

# Compiled code
__pycache__/
.pytest_cache
*.pyc
**/frontend/static/

# Libraries (npm, etc)
node_modules
package-lock.json
.benchmarks

# Temporary files
*.out
*py.diff
tmp/

# Log files
.aider*
hugin

# Outdated, deprecated, etc
**/_deprecated*

# VSCode stuff per user
.vscode
.vscode/
.favorites.json
*.code-workspace
notes/
.coverage

# Secrets, authentication, etc
.env

# Database files
*.sqlite3-journal
*db.sqlite3
pgsql