# Server state - Could contain sensitive details
*.log
logs/

# Compiled code
__pycache__/
.*_cache
*.pyc
*.egg-info
**/frontend/static/

# Libraries (npm, etc)
node_modules/
package-lock.json
.direnv/
.coverage/
.benchmarks

# Temporary files
*.out
~*
*.swp

# Log files
.aider*
hugin

# User configs
.vscode/
.favorites.json
*.code-workspace
.venv/
.venv_windows/
.venv_linux/
.direnv/

# Secrets, authentication, etc
.env

# Database files
*.sqlite3-journal
*db.sqlite3
pgsql

# Images
*.jpg
*.jpeg
*.png
*.wepb
*.gif
*.mp4
*.svg