# Server state - Could contain sensitive details
*.log
logs/

# Compiled code
__*
.*_cache
*.pyc
*.egg-info
**/frontend/static/
*.ipynb

# Libraries and tools
node_modules/
package-lock.json
.coverage/
.benchmarks

# Temporary files
*.out
~*
*.swp

# Log files
.aider*
hugin

# User configs
.vscode/
.favorites.json
*.code-workspace
.venv/
.venv_windows/
.venv_linux/
.direnv/
.*/

# Secrets, authentication, etc
.env

# Database files
*.sqlite3-journal
*db.sqlite3
pgsql
*.db

# Extensions (Images, etc)
*.jpg
*.jpeg
*.png
*.wepb
*.gif
*.mp4
*.svg
